{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<div class="input-group">
					<div class="input-group-text">{{ entry_active_store }}</div>
					<select name="store" id="input-store" class="form-select">
						{% for store in stores %}
						<option value="{{ store.href }}" {% if store.store_id == store_id %} selected{% endif %}>{{ store.name }}</option>
						{% endfor %}
					</select>&nbsp;
					<button type="button" id="ps-patch-htaccess" data-bs-toggle="tooltip" title="{{ button_patch_htaccess }}" class="btn btn-warning"><i class="fa-solid fa-save"></i> {{ button_patch_htaccess }}</button>&nbsp;
					<button type="submit" form="form-feed" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>&nbsp;
					<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
				</div>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-list"></i> {{ text_edit }}</div>
			<div class="card-body">

				<form id="form-feed" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="feed_ps_indexnow_status" value="0">
										<input type="checkbox" name="feed_ps_indexnow_status" value="1" id="input-status" class="form-check-input" {% if feed_ps_indexnow_status %} checked{% endif %}>
									</div>
								</div>
							</div>

							<fieldset class="border p-3 mb-3">
								<legend>{{ heading_product }}</legend>

								<div class="row mb-3">
									<label for="input-product" class="col-sm-2 col-form-label">{{ entry_product }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_product" value="0">
											<input type="checkbox" name="feed_ps_indexnow_product" value="1" id="input-product" class="form-check-input" {% if feed_ps_indexnow_product %} checked{% endif %}>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-product-images" class="col-sm-2 col-form-label">{{ entry_product_images }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_product_images" value="0">
											<input type="checkbox" name="feed_ps_indexnow_product_images" value="1" id="input-product-images" class="form-check-input" {% if feed_ps_indexnow_product_images %} checked{% endif %}>
										</div>
									</div>
								</div>

								<div id="max-product-images-group" class="row mb-3 required"{% if not feed_ps_indexnow_product_images %} style="display: none;"{% endif %}>
									<label for="input-max-product-images" class="col-sm-2 col-form-label">{{ entry_max_product_images }}</label>
									<div class="col-sm-10">
										<input type="text" name="feed_ps_indexnow_max_product_images" value="{{ feed_ps_indexnow_max_product_images }}" placeholder="{{ entry_fee }}" id="input-max-product-images" class="form-control">
										<div id="error-input-max-product-images" class="invalid-feedback"></div>
										<div class="form-text">{{ help_product_images }}</div>
									</div>
								</div>

							</fieldset>
							<fieldset class="border p-3 mb-3">
								<legend>{{ heading_category }}</legend>

								<div class="row mb-3">
									<label for="input-category" class="col-sm-2 col-form-label">{{ entry_category }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_category" value="0">
											<input type="checkbox" name="feed_ps_indexnow_category" value="1" id="input-category" class="form-check-input" {% if feed_ps_indexnow_category %} checked{% endif %}>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-category-images" class="col-sm-2 col-form-label">{{ entry_category_images }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_category_images" value="0">
											<input type="checkbox" name="feed_ps_indexnow_category_images" value="1" id="input-category-images" class="form-check-input" {% if feed_ps_indexnow_category_images %} checked{% endif %}>
										</div>
									</div>
								</div>

							</fieldset>
							<fieldset class="border p-3 mb-3">
								<legend>{{ heading_manufacturer }}</legend>

								<div class="row mb-3">
									<label for="input-manufacturer" class="col-sm-2 col-form-label">{{ entry_manufacturer }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_manufacturer" value="0">
											<input type="checkbox" name="feed_ps_indexnow_manufacturer" value="1" id="input-manufacturer" class="form-check-input" {% if feed_ps_indexnow_manufacturer %} checked{% endif %}>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-manufacturer-images" class="col-sm-2 col-form-label">{{ entry_manufacturer_images }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_manufacturer_images" value="0">
											<input type="checkbox" name="feed_ps_indexnow_manufacturer_images" value="1" id="input-manufacturer-images" class="form-check-input" {% if feed_ps_indexnow_manufacturer_images %} checked{% endif %}>
										</div>
									</div>
								</div>

							</fieldset>
							<fieldset class="border p-3 mb-3">
								<legend>{{ heading_information }}</legend>

								<div class="row mb-3">
									<label for="input-information" class="col-sm-2 col-form-label">{{ entry_information }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_information" value="0">
											<input type="checkbox" name="feed_ps_indexnow_information" value="1" id="input-information" class="form-check-input" {% if feed_ps_indexnow_information %} checked{% endif %}>
										</div>
									</div>
								</div>

							</fieldset>

							<fieldset class="border p-3 mb-3">
								<legend>{{ heading_robotstxt }}</legend>

								<div class="row mb-3">
									<label for="input-user-agent" class="col-sm-2 col-form-label">{{ entry_user_agent }}</label>
									<div class="col-sm-4">
										<select id="input-user-agent" class="form-select">
											{% for key, value in user_agents %}
												<option value="{{ key }}">{{ value }}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<label for="input-validation-results" class="col-sm-2 col-form-label">{{ entry_validation_results }}</label>
									<div class="col-sm-10">
										<textarea rows="6" id="input-validation-results" class="form-control" readonly></textarea>
									</div>
									<div class="offset-2 col-sm-12">
										<button type="button" id="ps-validate-robotstxt" data-bs-toggle="tooltip" title="{{ button_validate_robotstxt }}" class="btn btn-info"><i class="fa-solid fa-file-alt"></i> {{ button_validate_robotstxt }}</button>
									</div>
								</div>

							</fieldset>

							<ul class="nav nav-tabs">
								<li class="nav-item"><a href="#tab-data-feed-url" data-bs-toggle="tab" class="nav-link active">{{ tab_data_feed_url }}</a></li>
								<li class="nav-item"><a href="#tab-data-feed-seo-url" data-bs-toggle="tab" class="nav-link">{{ tab_data_feed_seo_url }}</a></li>
							</ul>

							<div class="tab-content">
								<div id="tab-data-feed-url" class="tab-pane active">

									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">{{ entry_data_feed_url }}</label>
										<div class="col-sm-10">
											{% for language in languages %}
											<div class="input-group">
												<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"></div>
												<input type="text" name="data_feed_{{ language.language_id }}" value="{{ data_feed_urls[language.language_id] }}" id="input-data-feed-{{ language.language_id }}" class="form-control" readonly>
												<span class="input-group-btn">
													<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-data-feed-{{ language.language_id }}" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
													<button type="button" class="btn btn-light btn-open" data-bs-toggle="tooltip" data-input-id="input-data-feed-{{ language.language_id }}" title="{{ help_open }}"><i class="fa-solid fa-link"></i></button>
												</span>
											</div>
											{% endfor %}
										</div>
									</div>

								</div>
								<div id="tab-data-feed-seo-url" class="tab-pane">

									<div class="row mb-3">
										<label class="col-sm-2 col-form-label">{{ entry_data_feed_url }}</label>
										<div class="col-sm-10">
											{% for language in languages %}
											<div class="input-group">
												<div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"></div>
												<input type="text" value="{{ data_feed_seo_urls[language.language_id] }}" id="input-data-feed-seo-{{ language.language_id }}" class="form-control" readonly>
												<span class="input-group-btn">
													<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-data-feed-seo-{{ language.language_id }}" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
													<button type="button" class="btn btn-light btn-open" data-bs-toggle="tooltip" data-input-id="input-data-feed-seo-{{ language.language_id }}" title="{{ help_open }}"><i class="fa-solid fa-link"></i></button>
												</span>
											</div>
											{% endfor %}
										</div>
									</div>

									<div class="row mb-3">
										<label for="input-htaccess-mod" class="col-sm-2 col-form-label">{{ entry_htaccess_mod }}</label>
										<div class="col-sm-10">
											<div class="input-group">
												<textarea rows="4" id="input-htaccess-mod" class="form-control" readonly>{{ htaccess_mod }}</textarea>
												<span class="input-group-btn">
													<button type="button" class="btn btn-info btn-copy" data-bs-toggle="tooltip" data-input-id="input-htaccess-mod" title="{{ help_copy }}"><i class="fa-solid fa-copy"></i></button>
												</span>
											</div>
											<div class="form-text">{{ help_htaccess_mod }}</div>
										</div>
									</div>

								</div>
							</div>

						</div>
						<div id="tab-support" class="tab-pane">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

						</div>

					</div>

					<input type="hidden" name="store_id" value="{{ store_id }}">
				</form>

			</div>
		</div>
	</div>
	<script>
		$('#input-store').on('change', function () {
			window.location = $(this).val();
		});

		$('#input-product-images').on('change', function () {
			if ($(this).prop('checked')) {
					$('#max-product-images-group').fadeIn();
			} else {
					$('#max-product-images-group').fadeOut();
			}
		});

    $('.btn-copy').on('click', function () {
			var copyText = $("#" + $(this).data('inputId'));

			if (copyText.length) {
					copyText.select();
					copyText[0].setSelectionRange(0, 99999);
					document.execCommand("copy");
			}
		});

		$('.btn-open').on('click', function () {
			var linkUrl = $("#" + $(this).data('inputId')).val();

			if (linkUrl.length) {
					window.open(linkUrl, '_blank');
			}
		});

		$('#input-validate-robotstxt').on('change', function () {
			$('#input-user-agent').prop('disabled', !$(this).prop('checked'));
			$('#ps-validate-robotstxt').prop('disabled', !$(this).prop('checked'));
		});

		$('#ps-validate-robotstxt').on('click', function() {
			var $this = $(this);
			var action = $(this).data('fix-action');

			$.ajax({
			  url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}validaterobotstxt&user_token={{ user_token }}&store_id={{ store_id}}&user_agent=' + $('#input-user-agent option:selected').val(),
			  dataType: 'json',
				beforeSend: function () {
					$($this).button('loading');
				},
				complete: function () {
					$($this).button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['results']) {
						$('#input-validation-results').text(json['results']);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});

		$('#ps-patch-htaccess').on('click', function() {
			var $this = $(this);

			$.ajax({
			  url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}patchhtaccess&user_token={{ user_token }}',
			  dataType: 'json',
				beforeSend: function () {
					$($this).button('loading');
				},
				complete: function () {
					$($this).button('reset');
				},
				success: function (json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}

					if (json['success']) {
						$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});
	</script>
</div>
{{ footer }}
