{{ header }}
{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<div class="input-group">
					<div class="input-group-text">{{ entry_active_store }}</div>
					<select name="store" id="input-store" class="form-select">
						{% for store in stores %}
						<option value="{{ store.href }}" {% if store.store_id == store_id %} selected{% endif %}>{{ store.name }}</option>
						{% endfor %}
					</select>&nbsp;
					<button type="submit" form="form-feed" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>&nbsp;
					<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
				</div>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fa-solid fa-list"></i> {{ text_edit }}</div>
			<div class="card-body">

				<form id="form-feed" action="{{ action }}" method="post" data-oc-toggle="ajax">

					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-manual-submit" data-bs-toggle="tab" class="nav-link">{{ tab_manual_submit }}</a></li>
						<li class="nav-item"><a href="#tab-queue" data-bs-toggle="tab" class="nav-link">{{ tab_queue }}</a></li>
						<li class="nav-item"><a href="#tab-log" data-bs-toggle="tab" class="nav-link">{{ tab_log }}</a></li>
						<li class="nav-item"><a href="#tab-support" data-bs-toggle="tab" class="nav-link">{{ tab_help_and_support }}</a></li>
					</ul>

					<div class="tab-content">
						<div id="tab-general" class="tab-pane active">

							<div class="row mb-3">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<div class="form-check form-switch form-switch-lg">
										<input type="hidden" name="feed_ps_indexnow_status" value="0">
										<input type="checkbox" name="feed_ps_indexnow_status" value="1" id="input-status" class="form-check-input" {% if feed_ps_indexnow_status %} checked{% endif %}>
									</div>
								</div>
							</div>

							<fieldset class="p-3 mb-3">
								<legend>{{ heading_services }}</legend>

								{% for indexnow_service in indexnow_services %}
								<div class="row mb-3">
									<label for="input-service-status-{{ indexnow_service.service_id }}" class="col-sm-2 col-form-label">{{ indexnow_service.service_name }}</label>
									<div class="col-sm-10">
										<div class="form-check form-switch form-switch-lg">
											<input type="hidden" name="feed_ps_indexnow_service_status[{{ indexnow_service.service_id }}]" value="0">
											<input type="checkbox" name="feed_ps_indexnow_service_status[{{ indexnow_service.service_id }}]" value="1" id="input-service-status-{{ indexnow_service.service_id }}" data-controls="tab-link-service-{{ indexnow_service.service_id }}" class="form-check-input" {% if feed_ps_indexnow_service_status[indexnow_service.service_id] %} checked{% endif %}>
										</div>
									</div>
								</div>
								{% endfor %}

							</fieldset>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">{{ entry_notify_search_engines }}</label>
								<div class="col-sm-10">
									<div id="product-store" class="form-control" style="height: 150px; overflow: auto;">
										{% for key, value in content_categories %}
											<div class="form-check">
												<input type="checkbox" name="feed_ps_indexnow_content_category[]" value="{{ key }}" id="input-content-category-{{ key }}" class="form-check-input"{% if key in feed_ps_indexnow_content_category %} checked{% endif %}/>
												<label for="input-content-category-{{ key }}" class="form-check-label">{{ value }}</label>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-service-key" class="col-sm-2 col-form-label">{{ entry_service_key }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="feed_ps_indexnow_service_key" value="{{ feed_ps_indexnow_service_key }}" placeholder="{{ entry_service_key }}" id="input-service-key" class="form-control" style="background-color: var(--bs-secondary-bg);" readonly>
										<span class="input-group-btn">
											<button type="button" class="btn btn-success btn-generate-service-key" data-bs-toggle="tooltip" title="{{ button_change_key }}"><i class="fa-solid fa-rotate"></i> {{ button_change_key }}</button>
										</span>
									</div>
									<div id="error-input-service-key" class="invalid-feedback"></div>
									<div class="form-text">{{ help_service_key }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label for="input-service-key-location" class="col-sm-2 col-form-label">{{ entry_service_key_location }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<input type="text" name="feed_ps_indexnow_service_key_location" value="{{ feed_ps_indexnow_service_key_location }}" data-service-key-url="{{ feed_ps_indexnow_service_key_url }}" placeholder="{{ entry_service_key_location }}" id="input-service-key-location" class="form-control" style="background-color: var(--bs-secondary-bg);" readonly>
										<span class="input-group-btn">
											<button type="button" class="btn btn-warning btn-open-service-key" data-bs-toggle="tooltip" title="{{ button_check_key }}"><i class="fa-solid fa-key"></i> {{ button_check_key }}</button>
										</span>
									</div>
									<div class="form-text">{{ help_service_key_location }}</div>
								</div>
							</div>

						</div>
            <div class="tab-pane" id="tab-manual-submit">

							<div class="alert alert-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ text_url_list_warning }}</div>

							<div class="row mb-3">
								<label for="input-url-list" class="col-sm-2 col-form-label">{{ entry_url_list }}</label>
								<div class="col-sm-10">
									<textarea wrap="off" rows="15" id="input-url-list" class="form-control"></textarea>
									<div class="form-text">{{ help_url_list }}</div>
								</div>
							</div>

							<div class="row mb-3">
								<label class="col-sm-2 col-form-label">{{ entry_load_sitemap }}</label>
								<div class="col-sm-10">
									<div class="input-group">
										<div class="input-group-text"><i class="fa-solid fa-globe"></i></div>
										<input type="text" value="" placeholder="{{ entry_load_sitemap }}" id="input-load-sitemap" class="form-control">
										<span class="input-group-btn">
											<button type="button" class="btn btn-success" id="button-import-sitemap" data-bs-toggle="tooltip" title="{{ button_import_sitemap }}"><i class="fa-solid fa-paper-plane"></i> {{ button_import_sitemap }}</button>
											<button type="button" class="btn btn-primary" id="button-upload-sitemap" data-bs-toggle="tooltip" title="{{ button_upload_sitemap }}"><i class="fa-solid fa-upload"></i> {{ button_upload_sitemap }}</button>
										</span>
									</div>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-sm-5 offset-2">
									<button type="button" id="button-submit-url-list" data-bs-toggle="tooltip" title="{{ button_submit_url_list }}" class="btn btn-success w-100"><i class="fa-solid fa-paper-plane"></i> {{ button_submit_url_list }}</button>
								</div>
								<div class="col-sm-5">
									<button type="button" id="button-clear-url-list" data-bs-toggle="tooltip" title="{{ button_clear_url_list }}" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> {{ button_clear_url_list }}</button>
								</div>
							</div>

						</div>
            <div class="tab-pane" id="tab-queue">

							<div id="queue-content"></div>

							<div class="row row-cols-2">
								<div class="col">
									<button type="button" id="button-submit-queue" data-bs-toggle="tooltip" title="{{ button_submit_queue }}" class="btn btn-success w-100"><i class="fa-solid fa-paper-plane"></i> {{ button_submit_queue }}</button>
								</div>
								<div class="col">
									<button type="button" id="button-clear-queue" data-bs-toggle="tooltip" title="{{ button_clear_queue }}" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> {{ button_clear_queue }}</button>
								</div>
							</div>

						</div>
            <div class="tab-pane" id="tab-log">

							<div id="log-content"></div>

							<div class="row mb-3">
								<div class="col-sm-6 offset-6">
									<button type="button" id="button-clear-log" data-bs-toggle="tooltip" title="{{ button_clear_log }}" class="btn btn-danger w-100">
										<i class="fa-solid fa-trash"></i> {{ button_clear_log }}
									</button>
								</div>
							</div>

						</div>
						<div id="tab-support" class="tab-pane">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h2>{{ heading_fix }}</h2>
							<div class="row mb-3">
								<div class="col-sm-10">
									<button type="button" data-fix-action="{{ fix_event_handler }}" data-bs-toggle="tooltip" title="{{ button_fix_event_handler }}" class="btn btn-primary"><i class="fa-solid fa-gear"></i> {{ button_fix_event_handler }}</button>
								</div>
							</div>
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

						</div>

					</div>

					<input type="hidden" name="store_id" value="{{ store_id }}">
				</form>

			</div>
		</div>
	</div>
</div>
<script>
	$('#button-import-sitemap').on('click', function () {
		var node = $(this);
		var sitemapInput = $('#input-load-sitemap');
		var urlListObj = $('#input-url-list');

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}load_sitemap&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'file=' + encodeURIComponent(sitemapInput.val()),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				sitemapInput.val('');

				if (json['url_list']) {
					urlListObj.val(json['url_list']);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-upload-sitemap').on('click', function () {
		var node = $(this);
		var urlListObj = $('#input-url-list');

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file"></form>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function () {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$.ajax({
					url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}load_sitemap&store_id={{ store_id }}&user_token={{ user_token }}',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function () {
						$(node).button('loading');
					},
					complete: function () {
						$(node).button('reset');
					},
					success: function (json) {
						$('.alert-dismissible').remove();

						if (json['error']) {
							$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
						}

						if (json['success']) {
							$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
						}

						if (json['url_list']) {
							urlListObj.val(json['url_list']);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});

	$('.btn-generate-service-key').on('click', function () {
		var node = $(this);

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}generate_service_key&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					$('#input-service-key').val(json['service_key']);
					$('#input-service-key-location').val(json['service_key_location']).attr('data-service-key-url', json['service_key_url']);
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('.btn-open-service-key').on('click', function () {
		var serviceKeyUrl = $('#input-service-key-location').data('service-key-url');

		if (serviceKeyUrl.length) {
				window.open(serviceKeyUrl, '_blank');
		}
	});

	$('#input-store').on('change', function () {
		window.location = $(this).val();
	});

	$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');

	$('#queue-content').delegate('.pagination a', 'click', function (e) {
		e.preventDefault();

		$('#queue-content').load(this.href);
	});

	$('#queue-content').delegate('.btn-remove-item', 'click', function () {
		var element = this;

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}remove_queue&user_token={{ user_token }}',
			type: 'post',
			data: 'queue_id=' + encodeURIComponent(this.value),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(element).button('loading');
			},
			complete: function () {
				$(element).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#queue-content').delegate('.btn-submit-item', 'click', function () {
		var element = this;

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'queue_id=' + encodeURIComponent(this.value),
			dataType: 'json',
			crossDomain: true,
			beforeSend: function () {
				$(element).button('loading');
			},
			complete: function () {
				$(element).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				// Check for errors
				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');

				$('#log-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}log&store_id={{ store_id }}&user_token={{ user_token }}');
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-submit-url-list').on('click', function () {
		var node = $(this);
		var urlListObj = $('#input-url-list');

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			type: 'post',
			data: 'url_list=' + encodeURIComponent(urlListObj.val()),
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');

				$('#log-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}log&store_id={{ store_id }}&user_token={{ user_token }}');

				urlListObj.val('');
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-clear-url-list').on('click', function () {
		$('#input-url-list').val('');
	});

	$('#button-submit-queue').on('click', function () {
		var node = $(this);

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}submit_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');

				$('#log-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}log&store_id={{ store_id }}&user_token={{ user_token }}');
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#button-clear-queue').on('click', function () {
		var node = $(this);

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}clear_queue&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					$('#queue-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}queue&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#log-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}log&store_id={{ store_id }}&user_token={{ user_token }}');

	$('#log-content').delegate('.pagination a', 'click', function (e) {
		e.preventDefault();

		$('#log-content').load(this.href);
	});

	$('#button-clear-log').on('click', function () {
		var node = $(this);

		$.ajax({
			url: 'index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}clear_log&store_id={{ store_id }}&user_token={{ user_token }}',
			dataType: 'json',
			beforeSend: function () {
				$(node).button('loading');
			},
			complete: function () {
				$(node).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');

					$('#log-content').load('index.php?route=extension/ps_indexnow/feed/ps_indexnow{{ oc4_separator }}log&store_id={{ store_id }}&user_token={{ user_token }}');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('button[data-fix-action]').on('click', function () {
		var $this = $(this);
		var action = $(this).data('fix-action');

		$.ajax({
			url: action,
			dataType: 'json',
			beforeSend: function () {
				$($this).button('loading');
			},
			complete: function () {
				$($this).button('reset');
			},
			success: function (json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#alert').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['success']) {
					$('#alert').prepend('<div class="alert alert-success alert-dismissible"><i class="fa-solid fa-circle-check"></i> ' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>
{{ footer }}
