<table class="table table-bordered">
	<thead>
		<tr>
			<td class="text-end">{{ column_queue_id }}</td>
			<td class="text-start">{{ column_queue_url }}</td>
			<td class="text-end">{{ column_queue_date_added }}</td>
			<td class="text-end">{{ column_queue_action }}</td>
		</tr>
	</thead>
	<tbody>
		{% if indexnow_queues %}
		{% for indexnow_queue in indexnow_queues %}
		<tr>
			<td class="text-end">{{ indexnow_queue.queue_id }}</td>
			<td class="text-start">{{ indexnow_queue.url|escape }}</td>
			<td class="text-end">{{ indexnow_queue.date_added }}</td>
			<td class="text-end">
				<button type="button" value="{{ indexnow_queue.queue_id }}" data-loading-text="{{ text_loading }}" data-bs-toggle="tooltip" title="{{ button_submit_url }}" class="btn btn-success btn-submit-item"><i class="fa-solid fa-paper-plane"></i></button>
				<button type="button" value="{{ indexnow_queue.queue_id }}" data-loading-text="{{ text_loading }}" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-remove-item"><i class="fa-solid fa-minus-circle"></i></button>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td class="text-center" colspan="4">{{ text_queue_no_results }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
<div class="row mb-3">
	<div class="col-sm-6 text-start">{{ pagination }}</div>
	<div class="col-sm-6 text-end">{{ results }}</div>
</div>
