<table class="table table-bordered">
	<thead>
		<tr>
      <td class="text-end">{{ column_log_id }}</td>
			<td class="text-start">{{ column_log_url }}</td>
      <td class="text-start">{{ column_log_service_name }}</td>
			<td class="text-end">{{ column_log_status_code }}</td>
			<td class="text-end">{{ column_log_date_added }}</td>
		</tr>
	</thead>
	<tbody>
		{% if indexnow_logs %}
		{% for indexnow_log in indexnow_logs %}
		<tr>
      <td class="text-end">{{ indexnow_log.log_id }}</td>
			<td class="text-start">{{ indexnow_log.url|escape }}</td>
			<td class="text-start">{{ indexnow_log.service_name }}</td>
			<td class="text-end">{{ indexnow_log.status_code }}</td>
			<td class="text-end">{{ indexnow_log.date_added }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td class="text-center" colspan="5">{{ text_log_no_results }}</td>
		</tr>
		{% endif %}
	</tbody>
</table>
<div class="row mb-3">
	<div class="col-sm-6 text-start">{{ pagination }}</div>
	<div class="col-sm-6 text-end">{{ results }}</div>
</div>
